<!-- Orders table -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pending orders</h5>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr> 
                                                <th>#</th>
                                                <th>Time</th>
                                                <th>Books</th>
                                            </tr>
                                        </thead>                   
                                        <tbody>   
                                            {{#each orders}}                                                                                                         
                                            <tr data-toggle="collapse" data-target="#{{this._id}}" class="accordion-toggle">    
                                                <td>{{this._id}}</td>
                                                <td>{{this.date}}</td>
                                                <td>
                                                    {{#each this.books}}
                                                        {{this.name}} <br>
                                                    {{/each}}
                                                </td>
                                                <td>
                                                    {{!-- <form action="/bookOrders/receive" method="post" style="display: inline-block;">
                                                        <button type="submit" name="_id" value="{{this._id}}" class="btn btn-default btn-xs"><span class="bi bi-check-circle-fill"></span></button>                           
                                                    </form> --}}
                                                    <form action="/bookOrders/delete" method="post" style="display: inline-block;">   
                                                        <button type="submit" name="_id" value="{{this._id}}" class="btn btn-default btn-xs"><span class="bi bi-x-circle-fill"></span></button> 
                                                    </form>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td colspan="6" class="hiddenRow">
                                                    <!-- collapse order data-->
                                                    <div class="collapse" id="{{this._id}}">
                    
                                                        <div class="card card-body">
                                                             <div class="row">
                                                                <div class="col-sm-4 detail-attribute">Customer: </div>
                                                                <div class="col-sm-8">
                                                                    {{this.customer.name}}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4 detail-attribute">Phone: </div>
                                                                <div class="col-sm-8">
                                                                    {{this.customer.phone}}
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-4 detail-attribute">Email: </div>
                                                                <div class="col-sm-8">
                                                                    {{this.customer.email}}
                                                                </div>
                                                            </div>
                                                            </div>                           
                                                        </div>
                                                    </div>
                                                    <!--  -->
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>                            
                            </div>      
                </div>
            </div>  
    </div>
    </div>
              <!-- Pagination -->
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="/books{{subRoute}}/{{prev}}">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="/books{{subRoute}}/{{page}}">{{page}}</a></li>
                      <li class="page-item"><a class="page-link" href="/books{{subRoute}}/{{next}}">Next</a></li>                  
                    </ul>
                
</div>
<!--  -->
<!-- End of page content -->